<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-3" [routerLink]="['/candidate']">
      <img
        src="../../../assets/images/logo-ar.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      Vote Vision
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="['/candidate/profile', userId]"
            routerLinkActive="active"
            >Profile</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="['/candidate/elections']"
            routerLinkActive="active"
            >Elections</a
          >
        </li>
        <li class="nav-item active">
          <button class="btn btn-danger ml-3">Log Out</button>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
