.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-warning {
  margin-left: 10px;
}
/* Center the pagination controls */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Style the pagination buttons */
.pagination-controls .pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination-controls .pagination li a.page-link {
  color: white; /* Set text color */
  background-color: #212529; /* Set background color */
  border: 1px solid #343a40; /* Set border color */
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.pagination-controls .pagination li a.page-link:hover {
  background-color: #343a40;
  color: white;
}

.pagination-controls .pagination li.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination-controls .pagination li.disabled .page-link {
  color: #232527;
  background-color: #343a40;
  border-color: #343a40;
  pointer-events: none;
}
