.sidebar {
  width: 200px;
  background: #343a40;
  color: #fff;
  transition: width 0.3s;
  overflow: hidden;
  height: calc(100vh);
  /* margin-top: 60px; */
  position: fixed;
  z-index: 1234354;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background: #212529;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.list-group {
  padding: 0;
  margin: 0;
}

.list-group-item {
  background: none;
  border: none;
  color: #fff;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
  transition: background 0.3s;
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}

.list-group-item a:hover,
.list-group-item a.active {
  background: #495057;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.5s;
}

.list-group-item i {
  margin-right: 8px;
}
