  <div class="card mb-3 my-container">
    <div class="row p-4">
      <div class="card-body col-md-4">
        <h5 class="card-title">
          {{ result.title }}
          <span
          [class]="
             this.statusDate === 'Pending' || this.statusDate === 'Finished' 
              ? 'bg-danger badge ms-1'
              : 'bg-success badge ms-1'
          "
        >
                {{this.statusDate}}
        </span>
        </h5>
        <ng-container *ngIf="result.candidates.length">
          <h6 class="card-subtitle mb-2 text-muted my-votes">
            <i class="fas fa-users me-2"></i>
            {{ result.candidates.length }}
          </h6>
        </ng-container>
        <p class="card-text mb-1">
          <i class="fas fa-file-code me-2"></i>
          {{ result.description }}
        </p>
        <p class="card-text mb-1">
          <i class="fas fa-calendar-week me-2"></i>
          <span class="sub-head me-2">Start Date</span
          >{{ result.startdate | date }}
        </p>
        <p class="card-text mb-1">
          <i class="fas fa-calendar-week me-2"></i>
          <span class="sub-head me-2">End Date</span
          >{{ result.enddate | date }}
        </p>
        <div class="contain-btns d-flex gap-2 mt-4">
           @if(this.statusDate === 'Pending' && !this.alreadyCandidate){
          <button class="btn mybtn" (click)="navigateToApplyForm()">
            Want to be a candidate
          </button>
        }
        @if(this.statusDate === 'Pending' && this.alreadyCandidate){
          <p>
            You have already apply for this election as candidate!
          </p>
        }
          <!-- <button class="btn mybtn" >Want to be a candidate</button> -->
          
         @if(this.statusDate === 'In-progress'){
           <button class="btn mybtn" (click)="this.goToDetails()">Vote</button>
         }
         
        </div>
      </div>
      <div class="col-md-8">
              @if(this.statusDate === 'Finished'){
                <canvas [id]="'barchart-' + result._id"></canvas>
              }
              @else if(this.statusDate === 'In-progress'){
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <p>Statistics will be displyed after election finished</p>
                </div>
              }
              @else if(this.statusDate === 'Pending'){
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                  <p>You will be able to vote after election starts</p>
                </div>
              }

      </div>
    </div>
  </div>
