.card-header {
  background-color: #d1d1d1;
  color: #3d3d3d;
  font-size: 22px;
  /* border-radius: 8px 0px; */
}
.my-card {
  border: #d1d1d1 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

/* component-name.component.css */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff; /* Replace with your desired color */
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.myTest {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../assets/images/flag.png');
  /* filter: blur(6px); */
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

p {
  color: white !important;
}

.my-carouser {
  z-index: 10;
}

.my-img {
  width: 100%;
  object-fit: cover;
}

.contain-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
