/* src/app/candidates/candidate-management/candidate-management.component.css */
.candidate-management {
    padding: 20px;
    background-color: #444444;
  }
  
  .candidate-list,
  .candidate-form,
  .bulk-upload,
  .candidate-analytics {
    margin-top: 20px;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .close {
    margin: 0;
    padding: 0;
  }
  
  .modal-header .modal-title {
    margin-right: auto; /* Pushes the title to the left */
  }
  .break-link {
    white-space: pre-wrap; /* To handle preformatted text */
    word-break: break-all; /* Break words when necessary */
  }
  /* Center the pagination controls */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Style the pagination buttons */
.pagination-controls .ng-pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination-controls .ng-pagination li a {
  color: white; /* Set text color */
  background-color: #212529; /* Set background color */
  border: 1px solid #343a40; /* Set border color */
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.pagination-controls .ng-pagination li a:hover {
  background-color: #343a40;
  color: white;
}

.pagination-controls .ng-pagination li.active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination-controls .ng-pagination li.disabled a {
  color: #6c757d;
  background-color: #343a40;
  border-color: #343a40;
  pointer-events: none;
}
