<div class="container my-5 d-flex justify-content-center">
  <div class="card p-4" style="width: 75%; max-width: 800px">
    <h4 class="events-title">Election Details</h4>
    <div *ngIf="election">
      <h4
        style="
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;
        "
      >
        {{ election?.title }}
      </h4>
      <p style="font-size: 15px;">{{ election?.description }}</p>
      <p class="badge bg-secondary">
        Start Date:
        {{ election?.startdate | date: 'yyyy-MM-dd' }}
      </p>
      <p class="badge bg-secondary ms-2">
        End Date: {{ election?.enddate | date: 'yyyy-MM-dd' }}
      </p>
      <p>
        <strong>Total Votes:</strong> {{ election?.totalVotes }}
      </p>
      <h5>Candidates</h5>
      <ul>
        <li *ngFor="let candidate of election?.candidates">
          {{ candidate.citizenDetails?.firstName }}      {{ candidate.citizenDetails?.lastName }}
        </li>
      </ul>
    </div>
    <div *ngIf="!election">
      <p>Loading election details...</p>
    </div>
    <img class="img-fluid" src="https://png.pngtree.com/thumb_back/fh260/background/20230625/pngtree-web-banner-investment-3d-rendered-user-interface-for-seo-data-and-image_3673084.jpg"> 
  </div>
  
</div>
