.container {
    margin-top: 40px;
  }
  
 
  .events-title {
    color: #BE1E2D;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000; 
  }
  