.election-management {
  padding: 20px;
}

.election-list,
.election-form,
.bulk-upload {
  margin-top: 20px;
}
#btn-close {
  color: #ff0000;
}

.pagination {
  margin-top: 20px;
}

.pagination .page-link {
  color: #007bff; /* Adjust color as per your theme */
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* Active page background color */
  border-color: #007bff; /* Active page border color */
  color: #fff; /* Active page text color */
}

.pagination .page-link:hover {
  color: #0056b3; /* Hover color */
}
