<app-candidate-nav-bar></app-candidate-nav-bar>

<div *ngIf="loading" class="loader">
  <div class="hourglassBackground">
    <div class="hourglassContainer">
      <div class="hourglassCurves"></div>
      <div class="hourglassCapTop"></div>
      <div class="hourglassGlassTop"></div>
      <div class="hourglassSand"></div>
      <div class="hourglassSandStream"></div>
      <div class="hourglassCapBottom"></div>
      <div class="hourglassGlass"></div>
    </div>
  </div>
</div>

<!-- <ngx-spinner></ngx-spinner> -->

<div class="container mt-5" *ngIf="!loading">
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let election of elections; let i = index">
      <div class="card text-light h-100 shadow-lg" style="background-color: #343a40;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-primary">{{ election.title }}</h5>
          <p class="card-text">{{ election.description }}</p>
          <p class="card-text">
            <strong>Start Date:</strong> {{ election.startdate | date }}
          </p>
          <p class="card-text">
            <strong>End Date:</strong> {{ election.enddate | date }}
          </p>
          <p class="card-text">
            <strong>Total Votes:</strong> {{ election.totalVotes }}
          </p>
          <div class="mt-auto">
            <button (click)="vote(election._id)" class="btn btn-primary w-100">Vote</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-paginator [rows]="rows" [totalRecords]="totalRecords" [first]="first" (onPageChange)="onPageChange($event)"
    styleClass="custom-paginator">
  </p-paginator>
</div>
