<app-candidate-nav-bar></app-candidate-nav-bar>
<div class="container mt-5">
    <h4 class="text-danger">Live Elections</h4>
    <div class="row">
        <div class="row">
            <!-- <div class="col-md-6 mb-4" *ngIf="candidateData.candidate.electionId">
              <div class="card">
                <div class="card-body">
                  <div class="card-content">
                    <h5 class="card-title">{{ candidateData.candidate.electionId.title }}</h5>
                    <p class="card-text">{{ candidateData.candidate.electionId.description }}</p>
                    <p class="card-text"><strong>Start Date:</strong> {{ candidateData.candidate.electionId.startdate | date }}</p>
                    <p class="card-text"><strong>End Date:</strong> {{ candidateData.candidate.electionId.enddate | date }}</p>
                    <p class="card-text"><strong>Total Votes:</strong> {{ candidateData.candidate.electionId.totalVotes }}</p> -->
                  </div>
                  <div class="btn-container">
                    <a href="#" class="btn btn-primary">Vote</a>
                  </div>
                </div>
              </div>
        <!-- </div>
      </div>
    </div>
  </div> -->
