.loader {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 160px;
  border-top: 8px solid #333; /* Darker color for contrast */
  border-bottom: 8px solid #333; /* Darker color for contrast */
  position: relative;
  background: linear-gradient(#ff3d00 60px, transparent 0) no-repeat;
  background-size: 4px 80px;
  background-position: 50% 0px;
  animation: spinx 5s linear infinite;
}

.loader:before,
.loader:after {
  content: '';
  width: 80px;
  left: 50%;
  height: 70px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  background: rgba(51, 51, 51, 0.4); /* Darker semi-transparent background */
  border-radius: 0 0 40px 40px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: lqt 5s linear infinite;
}

.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 40px 40px 0 0;
  animation: lqb 5s linear infinite;
}

@keyframes lqt {
  0%,
  100% {
    background-image: linear-gradient(#ff3d00 80px, transparent 0);
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(#ff3d00 80px, transparent 0);
    background-position: 0% 80px;
  }
  50.1% {
    background-image: linear-gradient(#ff3d00 80px, transparent 0);
    background-position: 0% -80px;
  }
}

@keyframes lqb {
  0% {
    background-image: linear-gradient(#ff3d00 80px, transparent 0);
    background-position: 0 80px;
  }
  100% {
    background-image: linear-gradient(#ff3d00 80px, transparent 0);
    background-position: 0 -80px;
  }
}

@keyframes spinx {
  0%,
  49% {
    transform: rotate(0deg);
    background-position: 50% 72px;
  }
  51%,
  98% {
    transform: rotate(180deg);
    background-position: 50% 8px;
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 72px;
  }
}

.contain-spinner {
  height: 53.5vh;
}
