<div class="my-container pt-3">
  @if (!this.dataCame) {
    <div
      class="contain-spinner d-flex justify-content-center align-items-center py-5"
    >
      <span class="loader"></span>
      <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffffff" type = "line-spin-clockwise-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
    </div>
  } @else {
    <div class="container">
      <div class="row">
        @if (results?.length !== 0) {
          @for (result of results; track result?._id) {
            <app-election-card [result]="result"></app-election-card>
          }
        } @else {
          <div class="d-flex justify-content-center align-items-center py-0">
            <p style="color: white">
              No {{ this.status }} electon available now !
            </p>
          </div>
        }
        <div class="mypag flex justify-content-center pb-3">
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first" 
        [rows]="rows" 
        [totalRecords]="totalRecord" 
        class="mypag"
         />
</div>
      </div>
    </div>
  }
</div>
